body {
  font-family: Georgia, serif;
  background-color: #f8f8f8;
  margin: 0;
  padding: 0;
}

h1 {
  display: flex;
  align-items: center;
  gap: 1rem; /* spacing between image + text */
}

/* shrink the books image */
#logo-image {
  width: 100px;
  height: auto;
}
